<footer class="page-footer one-bkg" style="padding-top: 0px;">
  <div class="footer-copyright">
    <div class="container flow-text">
      <div class="center-align text-color">©2018 war-turtle</div>
    </div>
  </div>
</footer>