<div class="contain">
  <svg viewBox="0 0 512 414.3">
    <g id="rightLarge">
      <path class="grass-1" d="M394.17,2.46C323.46,65.65,279,161.33,253.94,244.57c27.86,92.56,34.27,169.73,34.27,169.73h46.48c0-205,47.32-340.49,74.31-401.08C413.11,4,401.71-4.27,394.17,2.46Z"
      />
      <path class="grass-2" d="M264.82,211.28c-4,11.24-7.6,22.37-10.88,33.29,27.86,92.56,34.27,169.73,34.27,169.73h21.66S301.86,317.85,264.82,211.28Z"
      />
    </g>
    <g id="rightMedium">
      <path class="grass-1" d="M332,414.3s17.17-206.89,128.16-306.08c5.6-5,14.08,1.13,11,8C451.14,161.24,416,261.94,416,414.3Z"
      />
      <path class="grass-2" d="M471.2,116.21c3.05-6.86-5.42-13-11-8C349.19,207.41,332,414.3,332,414.3h24.21S371.61,228.89,467.42,125Q469.39,120.29,471.2,116.21Z"
      />
    </g>
    <g id="rightSmall">
      <path class="grass-1" d="M419.15,414.3s11.4-137.38,85.1-203.25a4.62,4.62,0,0,1,7.32,5.31c-13.32,29.9-36.67,96.77-36.67,197.94Z"
      />
      <path class="grass-2" d="M511.57,216.36a4.62,4.62,0,0,0-7.32-5.31c-73.7,65.87-85.1,203.25-85.1,203.25h20.61s9.29-112,65.34-182.2C507.4,226.05,509.6,220.79,511.57,216.36Z"
      />
    </g>
    <g id="leftLarge">
      <path class="grass-1" d="M290.27,414.3S267.17,135.92,117.83,2.46C110.29-4.27,98.89,4,103,13.22c27,60.59,74.31,196.07,74.31,401.08Z"
      />
      <path class="grass-2" d="M124.09,8.22Q121,5.29,117.83,2.46C110.29-4.27,98.89,4,103,13.21c27,60.6,74.31,196.08,74.31,401.09h21.9c0-205-47.33-340.49-74.32-401.09A9.38,9.38,0,0,1,124.09,8.22Z"
      />
    </g>
    <g id="leftMedium">
      <path class="grass-1" d="M180,414.3S162.81,207.41,51.82,108.22c-5.6-5-14.08,1.13-11,8C60.85,161.24,96,261.94,96,414.3Z" />
      <path class="grass-2" d="M51.82,108.22c-5.6-5-14.08,1.13-11,8C60.85,161.24,96,261.94,96,414.3h21.63c0-148.22-33.28-247.54-53.56-294.28Q58.16,113.9,51.82,108.22Z"
      />
    </g>
    <g id="leftSmall">
      <path class="grass-1" d="M92.85,414.3S81.45,276.92,7.75,211.05a4.62,4.62,0,0,0-7.32,5.31C13.75,246.26,37.1,313.13,37.1,414.3Z"
      />
      <path class="grass-2" d="M7.75,211.05a4.62,4.62,0,0,0-7.32,5.31C13.75,246.26,37.1,313.13,37.1,414.3H58C58,328.65,41.23,267.6,28,232.74A172.8,172.8,0,0,0,7.75,211.05Z"
      />
    </g>
  </svg>
</div>