<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center teal-text">War Turtle</a>
      <a href="#" data-target="slide-out" class="sidenav-trigger">
        <i class="material-icons purple-text">menu</i>
      </a>
    </div>
  </nav>
</div>