<ul id="slide-out" class="sidenav sidenav-fixed bkg">

  <li class="logo">
    <div class="user-view">
      <div class="background">
        <img src="images/kk.jpg">
      </div>
    </div>
  </li>
  <li>
    <a class="waves-effect hoverable 
      <% if(about) { %>
        one-bkg text-color
      <% }else{ %>
        one-text
      <% } %>
      " href="/">About</a>
  </li>
  <li>
    <a class="waves-effect hoverable 
      <% if(resume) { %>
        one-bkg text-color
      <% }else{ %>
        one-text
      <% } %>" href="/resume">Resume</a>
  </li>
  <li>
    <a class="waves-effect hoverable 
      <% if(works) { %>
        one-bkg text-color
      <% }else{ %>
        one-text
      <% } %>
    " href="/works">Works</a>
  </li>

</ul>