<ul id="slide-out" class="sidenav sidenav-fixed">

  <li class="logo">
    <div class="user-view">
      <div class="background">
        <img src="images/kk.jpg">
      </div>
    </div>
  </li>
  <li>
    <a class="waves-effect hoverable <%= about %>" href="/">About</a>
  </li>
  <li>
    <a class="waves-effect hoverable <%= resume %>" href="/resume">Resume</a>
  </li>
  <li>
    <a class="waves-effect hoverable <%= works %>" href="/works">Works</a>
  </li>

</ul>