<div class="containSunMoon">
  <svg id="objects" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 692.73 213.76">
    <g id="sun">
      <path class="sunMoon-1" d="M213.76,106.88c-53,7.43-54.55,14.51-8.4,41.6-51.6-14.2-55.54-8.4-22.91,34-42.37-32.63-48.17-28.69-34,22.91-27.09-46.15-34.17-44.64-41.6,8.4-7.44-53-14.52-54.55-41.6-8.4,14.2-51.6,8.4-55.54-34-22.91,32.64-42.37,28.69-48.17-22.9-34C54.54,121.39,53,114.31,0,106.88c53-7.44,54.54-14.52,8.4-41.6,51.59,14.2,55.54,8.4,22.9-34C73.68,63.94,79.48,60,65.28,8.4,92.36,54.54,99.44,53,106.88,0c7.43,53,14.51,54.54,41.6,8.4-14.2,51.59-8.4,55.54,34,22.9-32.63,42.38-28.69,48.18,22.91,34C159.21,92.36,160.72,99.44,213.76,106.88Z"
      />
      <circle class="sunMoon-2" cx="106.88" cy="106.88" r="59.24" />
    </g>
    <path id="moon" class="sunMoon-3" d="M607.32,162.52c30.49-15.58,43.89-54.53,29.93-87-11.47-26.69-37.86-40.68-63.83-36.14a79.77,79.77,0,0,1,8.12-4.79c39.42-20.15,86-2.46,104,39.51s.72,92.35-38.7,112.5c-35.36,18.08-76.49,5.7-97.61-27.34A56.86,56.86,0,0,0,607.32,162.52Z"
    />
  </svg>




</div>