<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <link rel="stylesheet" href="styles/index.css">
</head>

<body class="bkg">

  <%include ../partials/navbar %>
    <% include ../partials/sidenav %>

      <div class="main">
        <div class="container">
          <div class="row">

            <div class="col s12 center-align heading-container">
              <h2 class="one-text typer"></h2>
            </div>

            <div class="col s12 m10 offset-m1 section">
              <div class="card">
                <div class="card-image two-bkg">
                  <img src="images/me.jpg" class="my-image">
                </div>
                <div class="card-content one-bkg">
                  <h2 class="text-color center-align">Kartik Yadav</h2>
                  <p class="flow-text text-color center-align">
                    Developer
                  </p>
                  <p class="flow-text text-color center-align">
                    Github - <a href="https://github.com/war-turtle" target="_blank">war-turtle</a><br>
                    LinkedIn - <a href="https://www.linkedin.com/in/kartik-yadav-a34658164/">kartik yadav</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <ul class="collapsible two-bkg">
          <li>
            <h5 class="collapsible-header text-color valign-wrapper two-bkg">
              <i class="material-icons text-color">whatshot</i>My Story</h5>
            <div class="collapsible-body">
              <span class="text-color flow-text">My story as a programmer started way back when my father introduced me to some cool stuff in our newly bought
                Windows XP running PC and for many days my father taught me MS Excel and other nasty stuff in that
                old monk and you know what i was just dammed by watching all that stuff happening. From that day on I got
                fascinating about learning more cool stuff about Computers. And when I got stuck or pissed off I remember
                my the old days and keep on pushing myself to explore new stuff.</span>
            </div>
          </li>
          <li>
            <h5 class="collapsible-header text-color valign-wrapper two-bkg">
              <i class="material-icons">whatshot</i>Other Hobbies</h5>
            <div class="collapsible-body">
              <span class="text-color flow-text">Watching Movies is my other side, particularly sci-fi fascinate me alot.</span>
            </div>
          </li>
        </ul>

        <%include ../partials/footer %>

      </div>

      <% include ../partials/grass %>
        <%include ../partials/sunMoon %>


          <script src="js/lib/TweenMax.min.js"></script>
          <script src="js/lib/materialize.min.js"></script>
          <script src="js/main.js"></script>
          <script src="js/index.js"></script>
</body>

</html>