<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
    <link rel="stylesheet" href="styles/works.css">
</head>

<body>

  <%include ../partials/navbar %>
    <% include ../partials/sidenav %>

      <div class="main">


        <div class="row">
          <div class="col s12 center-align two-bkg">
            <h2 class="one-text thin">Education</h2>
            <p class="flow-text text-color">
              Currently doing B.Tech (2017-2021) in Computer Enginnering from National Institute Of Technology, Kurukshetra ( NIT, KKR
              ).
            </p>
          </div>

          <div class="col s12 center-align">
            <h2 class="one-text thin">Achievements</h2>
            <p class="flow-text two-text">
              Achieved a lot in my life but sadly it's not as great to be mentioned here.
            </p>
          </div>

          <div class="col s12 center-align one-bkg" style="margin-top: 10px">
            <h2 class="two-text thin">Skills</h2>
            <div class="container">
              <div class="row">

                <div class="col s12 m5">
                  <h4>JavaScript</h4>
                  <div class="progress">
                    <div class="determinate" style="width: 70%"></div>
                  </div>
                </div>

                <div class="col s12 m5 offset-m2">
                  <h4>JavaScript</h4>
                  <div class="progress">
                    <div class="determinate" style="width: 70%"></div>
                  </div>
                </div>

                <div class="col s12 m5">
                  <h4>JavaScript</h4>
                  <div class="progress">
                    <div class="determinate" style="width: 70%"></div>
                  </div>
                </div>

                <div class="col s12 m5 offset-m2">
                  <h4>JavaScript</h4>
                  <div class="progress">
                    <div class="determinate" style="width: 70%"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <% include ../partials/footer.ejs %>
      </div>

      <script src="js/materialize.js"></script>
      <script src="js/edu.js"></script>
</body>

</html>