<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="bkg">

  <%include ../partials/navbar %>
    <% include ../partials/sidenav %>

      <div class="main">


        <div class="row">
          <div class="col s12 center-align two-bkg">
            <h2 class="one-text thin">Education</h2>
            <p class="flow-text text-color">
              Currently doing B.Tech (2017-2021) in Computer Enginnering from National Institute Of Technology, Kurukshetra ( NIT, KKR
              ).
            </p>
            <p class="flow-text text-color">
              CGPA - 9.5
            </p>
          </div>

          <div class="col s12 center-align">
            <h2 class="one-text thin">Achievements</h2>
            <p class="flow-text two-text">
              Don't know what to write :)
            </p>
          </div>

          <div class="col s12 center-align one-bkg" style="margin-top: 10px;">
            <h2 class="two-text thin">Skills</h2>
            <div class="container">
              <div class="row">

                <div class="col s12 m5">
                  <h4 class="white-text">JavaScript</h4>
                  <div class="progress">
                    <div class="determinate" style="width: 90%"></div>
                  </div>
                </div>

                <div class="col s12 m5">
                  <h4 class="white-text">React JS</h4>
                  <div class="progress">
                    <div class="determinate" style="width: 80%"></div>
                  </div>
                </div>

                <div class="col s12 m5">
                  <h4 class="white-text">Angular</h4>
                  <div class="progress">
                    <div class="determinate" style="width: 80%"></div>
                  </div>
                </div>

                <div class="col s12 m5">
                  <h4 class="white-text">Golang</h4>
                  <div class="progress">
                    <div class="determinate" style="width: 70%"></div>
                  </div>
                </div>

                <div class="col s12 m5">
                  <h4 class="white-text">Node JS</h4>
                  <div class="progress">
                    <div class="determinate" style="width: 90%"></div>
                  </div>
                </div>

                <div class="col s12 m5">
                    <h4 class="white-text">Python</h4>
                    <div class="progress">
                      <div class="determinate" style="width: 85%"></div>
                    </div>
                  </div>

                <div class="col s12 m5">
                  <h4 class="white-text">Django</h4>
                  <div class="progress">
                    <div class="determinate" style="width: 80%"></div>
                  </div>
                </div>

                <div class="col s12 m5">
                  <h4 class="white-text">BlockChain</h4>
                  <div class="progress">
                    <div class="determinate" style="width: 75%"></div>
                  </div>
                </div>

                <div class="col s12 m5">
                  <h4 class="white-text">Etherium and Solidity</h4>
                  <div class="progress">
                    <div class="determinate" style="width: 80%"></div>
                  </div>
                </div>

                <div class="col s12 m5">
                  <h4 class="white-text">Java</h4>
                  <div class="progress">
                    <div class="determinate" style="width: 60%"></div>
                  </div>
                </div>

                <div class="col s12 m5">
                  <h4 class="white-text">C and C++</h4>
                  <div class="progress">
                    <div class="determinate" style="width: 70%"></div>
                  </div>
                </div>

              </div>
            </div>

            <h2 class="two-text thin">Dev Ops</h2>
            <div class="container">
              <div class="row">
                <div class="col s12 m5">
                  <h4 class="white-text">Docker</h4>
                  <div class="progress">
                    <div class="determinate" style="width: 90%"></div>
                  </div>
                </div>

                <div class="col s12 m5">
                  <h4 class="white-text">Kubernetes</h4>
                  <div class="progress">
                    <div class="determinate" style="width: 70%"></div>
                  </div>
                </div>

                <div class="col s12 m5">
                  <h4 class="white-text">Jenkins</h4>
                  <div class="progress">
                    <div class="determinate" style="width: 80%"></div>
                  </div>
                </div>

                <div class="col s12 m5">
                  <h4 class="white-text">Travis</h4>
                  <div class="progress">
                    <div class="determinate" style="width: 90%"></div>
                  </div>
                </div>
              </div>
            </div>
            <p class="flow-text text-color">And some more hidden skills</p>
          </div>
        </div>


        <% include ../partials/footer %>
      </div>

      <% include ../partials/grass %>
        <% include ../partials/sunMoon %>
          <script src="js/lib/TweenMax.min.js"></script>
          <script src="js/lib/materialize.js"></script>
          <script src="js/main.js"></script>
</body>

</html>